<%- include("header") -%>
<div class="box1" id="heading">       
    <h1>Today</h1>
</div>        
<div class="box">         
<form >
     <div class="item">
        <div class="round">
        <input type="checkbox"id="checkbox">            
        <label for="checkbox"></label>
        </div>
        <p>Welcome here</p>
        <br>
    </div>         
</form>      
<form >
    <div class="item">
        <div class="round">
        <input type="checkbox" id="checkbox">
         
        <label for="checkbox"></label>
        </div>
        <p>Enjoy the videos</p>
        <br>
    </div>
</form>
<form >
    <div class="item">
        <div class="round">
        <input type="checkbox" id="checkbox">
            <label for="checkbox"></label>
        </div>
        <p>Stick with IT Buddies</p>
        <br>
     </div>         
</form>
<form >
    <div class="item">
        <div class="round">
        <input type="checkbox" id="checkbox">
        <label for="checkbox"></label>
        </div>
        <p>Please do like</p>
        <br>
     </div>
</form>
<form >
    <div class="item">
        <div class="round">
        <input type="checkbox"id="checkbox">
        <label for="checkbox"></label>
        </div>
        <p>Share & Subscribe</p>
        <br>
        </div>